---
http_interactions:
- request:
    method: get
    uri: https://data.btcchina.com/data/ticker
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Front-End-Https:
      - 'on'
    body:
      encoding: UTF-8
      string: '{"ticker":{"high":"5354.99","low":"4501.00","buy":"4778.01","sell":"4800.00","last":"4778.01","vol":"24761.05200000"}}'
  recorded_at: Wed, 08 Jan 2014 15:20:32 GMT
recorded_with: VCR 2.8.0
